body {
    font-family: 'Montserrat', sans-serif;
}

/* logo */

.navbar-brand {
    width: 100px;
    height: 100px;
    padding: 30px;
}

/* nav */

.navbar-nav {
    margin-bottom: 0;
    width: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: #006600;
}

.navbar-nav li {
    padding-left: 30px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
    float: left;
}

/* main image */

.callout-container {
    height: 70vh;
    background-image: url("/assets/images/gym1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* features */

.feature-container {
    height: 70vh;
    background-color: #009900;
}

.activities-container {
    height: 70vh;
    background-image: url("/assets/images/gym1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}














/* footer */

.footer-info li {
    margin: 10px;
}

.footer-info p {
    margin: 10px;
}

.footer-info h5{
    color: #006600;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    padding-left: 40px;
    padding-right: 40px;
}

.footer-rights {
    align-content: center;
    background-color: #009900;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 12px;
}

/* icons */

i.fas, i.fab, i.far {
      color: #006600;
}