body {
    font-family: 'Montserrat', sans-serif;
    padding-top: 65px;
}

/* logo */

.navbar-brand {
    width: 100px;
    height: 100px;
    padding: 30px;
}

/* nav */

.navbar-nav {
    margin-bottom: 0;
    width: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: #006600;
}

.navbar-nav li {
    padding-left: 30px;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
    float: left;
}

/* callout container */

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.callout-container {
    height: 70vh;
    background-image: url("../images/gym1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    border-bottom: 10px solid #009900;
}

.callout-title {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: #000000;
    padding-left: 40px;
    padding-right: 40px;
}

/* divider container */

.greenline-container {
    height: 10px;
    background-color: #009900;

}

/* features container */

.features-container {
    padding: 50px;
    width: 100%;
}

.features-container h2 {
    margin-top: 15px;
    text-align: center;
}

.features-container p {
    padding-bottom: 30px;
    text-align: center;
}



/* button */

.btn--cta {
    font-weight: bold;
    border-radius: 19px;
    margin-top: 20px;
}

.btn--green {
    color: white;
    background-color: #009900;
    border-color: #009900;
}

.activities-container {
    height: 20vh;
    background-image: url("../images/gym2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 10px solid #009900;
}


/* block divider */

/* Block divider */

.block-divider {
    width: 80%;
    height: 2px;
}

.block-divider--green {
    background-color: #009900;
}










/* footer */

.footer-info li {
    margin: 10px;
}

.footer-info p {
    margin: 10px;
}

.footer-info h5{
    color: #006600;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    padding-left: 40px;
    padding-right: 40px;
}

.footer-rights {
    align-content: center;
    background-color: #009900;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 12px;
}

/* icons */

i.fas, i.fab, i.far {
      color: #006600;
}